@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,800&display=swap');

body {
  padding: 0;
  margin: 0;
  background-image: url(images/ReelFocusPatternedBackground-1.png);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.under-construction {
  background-color: rgb(255, 255, 255);
  width: 360px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: rgb(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.under-construction .logo-container{
  padding: 0 0 0 0px;
  display: flex;
  flex-direction: column;
}

h1{
  padding: 60px 10px 20px 10px;
  margin: 10px;
  font-size: 20px;
  font-family: 'Mulish', sans-serif;
  color: #3B4752;
}

h2{
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: 'Mulish', sans-serif;
  font-family: 'Mulish', sans-serif;
  color: #3B4752;
}

.social-links{
  padding: 0;
  margin: 0;
}

.instagram-logo {
  padding: 30px 20px 20px 20px;
  margin: 0;
  width: 30px;
  height: auto;
  color: aqua;
}

.youtube-logo {
  padding: 30px 20px 20px 20px;
  margin: 0;
  width: 30px;
  height: auto;
}

.email-icon {
  padding: 30px 20px 20px 20px;
  margin: 0;
  width: 30px;
  height: auto;
}